*{
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    background-color: #FDFBF5;
}

header {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
}

.headerr {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.headerr > a {
    text-decoration: none;
}

.text {
    display: flex;
    gap: 20px;
}

.text > a {
    text-decoration: none;
}

.text > a > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: black;
}

.page {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hr {
    transform: rotate(90deg);
}

.button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
}

.button > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: white;
}

.ODIN {
    width: auto;
    height: 945px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.nada {
    display: flex;
    margin-top: 70px;
    margin-left: -170px;
}

.nada > h1 {
    font-family: "Syne";
    font-size: 80px;
    font-weight: 600;
    line-height: 96px;
    text-align: center;
    margin-top: 110px;
    margin-left: -100px;
}

.img {
    margin-left: -40px;
}

.button1 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button1 > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: white;
}

.nada1 {
    display: flex;
    gap: 30px;
}

.text1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text1 > a {
    text-decoration: none;
}

.text1 > p {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.SK {
    display: flex;
    align-items: center;
    gap: 7px;
    transform: rotate(90deg);
    margin-top: 220px;
}

.SK > img {
    transform: rotate(270deg);
}

.img1 {
    margin-top: -46px;
}

.xz {
    margin-left: -40px;
    margin-top: 25px;
}



