*{
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    background-color: #FDFBF5;
}

header {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
}

.headerr {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.headerr > a {
    text-decoration: none;
}

.text {
    display: flex;
    gap: 20px;
}

.text > a {
    text-decoration: none;
}

.text > a > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: black;
}

.page {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hr {
    transform: rotate(90deg);
}

.button {
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 5px;
}

.button > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: white;
}

.ODIN {
    width: auto;
    height: 945px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.nada {
    display: flex;
    margin-top: 70px;
    margin-left: -170px;
}

.nada > h1 {
    font-family: "Syne";
    font-size: 80px;
    font-weight: 600;
    line-height: 96px;
    text-align: center;
    margin-top: 110px;
    margin-left: -100px;
}

.img {
    margin-left: -40px;
}

.button1 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.button1 > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: white;
}

.nada1 {
    display: flex;
    gap: 30px;
}

.text1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text1 > a {
    text-decoration: none;
}

.text1 > p {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.SK {
    display: flex;
    align-items: center;
    gap: 7px;
    transform: rotate(90deg);
    margin-top: 215px;
    font-family: "Syne";
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: 0.1em;
}

.SK > img {
    transform: rotate(270deg);
}

.img1 {
    margin-top: -46px;
}

.xz {
    margin-left: -40px;
    margin-top: 25px;
}

.DVA {
    width: auto;
    margin-top: 52px;
}

.kompanii {
    width: auto;
    height: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.kompanii > h2 {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
}

.hr1 {
    transform: rotate(90deg);
}

.logi {
    display: flex;
    gap: 55px;
}

.TRI {
    width: auto;
    height: 563px;
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 70px;
}

.text2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.text2 > p {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.text2 > a {
    text-decoration: none;
}

.button2 {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-color: black;
}

.button2 > p{
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: white;
}

.min > p {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    letter-spacing: 0.2em;
}

.min > h1 {
    font-family: "Syne";
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.kartochki {
    display: flex;
    gap: 65px;
    align-items: center;
}

.mini {
    display: flex;
    gap: 65px;
    flex-direction: column;
    align-items:center;
}

.box {
    display: flex;
    gap: 21px;
}


.box > img{
    margin-top: 8px;
}

.boxMini {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.boxMini > h1 {
    font-family: "Syne";
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
}

.boxMini > p {
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.button3 {
    display: flex;
    width: 115px;
    height: 18px;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.button3 > a {
    text-decoration: none;
}

.button3 > a > p {
    font-family: "Syne";
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    color: black;
}

.hr3 {
    width: 249px;
}

.CHETIRI {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 80px;
}

.image {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 240px;
    height: 50px;
    background-color: black;
}

.button4 > p {
    font-family: "Syne";
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    color: white;
}

.x {
    margin-top: 240px;
    margin-left: -31px;
}